<h1>주역과 시계</h1>

<h2>변화</h2>

<p>변화가 본질이다. 물질이 근본이고 변화는 2차적인 것으로 인식을 하지만,
깊이 생각해 보건데 변화야 말로 본질적이다.

<p>한국의 사계절은 매우 뚜렷하다. 아시아의 동쪽 끝에 위치한 한국은 대륙성 기후로 여름에는 인도네시아의 열대지역보다 오히려 더 뜨겁고 겨울은 시베리아의 한대지역보다 더 춥다.

<p>겨울에 해는 식장산 중계탑에서 뜨지만 여름에는 계족산에서 해가 뜬다.
얼마나 큰 변화인가! 이것을 어떻게 알지 못하고 지나칠 수가 있겠는가?
시간이라는 보이지 않는 개념은 수명이 긴 생물만이 인식을 하고 삶의 변수로
받아 들이고 장기 계획을 한다.

변화가 크면 본질이 달라지는 결과가 생기기 때문에 이 변화의 진폭과 주기를
예측하는 것이 필요하다. 변화를 측정하고 의식하고 있어야 하는 것이 이것이
2차적인 개념이기 때문이다. 해가 지기전에 시계를 가지고 일몰을 준비해야
야외에서 하는 일을 문제 없이 진행할 수 있고, 아침에 시계를 가지고 있지 않으면
새벽이 언제 시작될지 가늠하기가 매우 어렵니다. 야외에서 해가 뜨고 해가 지는
것은 생명을 위태롭게 할 수도 있다. 산에서 밤을 맞으면 매우 위험한데 밤에는
온도가 떨어져서 보온을 할 수 있는 대비가 없다면 저체온으로 생명이 위험하다.

주역은 점을 치는 책으로 미래에 촛점을 맞추어 이야기를 한다. 즉 변화에 대하여
이야기를 하는 것으로 인간이 얼마나 변화에 관심을 많이 가지고 있는지를 알 수
있다. 아마도 주역은 음과 양 두 가지에서 시작했음이 분명하다. 갈까요 말까요?
전쟁을 할까요 말까요? 사람들은 스스로 판단을 하지 못할 때 신의 뜻에 대해
궁금해하고 확률적인 방법으로 신의 뜻을 파악하려고 하였다. 어리석은 일인 것으로
보이지만 유익한 점이 있다. 자신과 공동체의 확신을 강화하기 때문이다.

변화를 측정하기 위한 노력이 예나 지금이나 계속 필요하고 변동성이 더 커질 때에는 
생존의 문제로 측정을 한다.
